<?xml version="1.0"?>
<model>
  <name>uwb_tag_USV</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>UWB Team</name>
    <email>uwb@example.com</email>
  </author>
  <description>
    A UWB tag mounted on USV, blue sphere with plugin enabled.
  </description>
</model>
